@forward 'vuetify/settings' with (
  $utilities: false,
  $button-height: 40px,
  $button-background: orange,
);

@forward 'vuetify' with (
  $body-font-family: 'Open Sans',
)

/* font-family: 'IBM Plex Mono', monospace;
font-family: 'Open Sans', sans-serif; */