@use 'vuetify/settings' with (
//   // Place SASS variable overrides here
  $button-background: orange,
  $body-font-family: 'Open Sans',
);

/* font-family: 'IBM Plex Mono', monospace;
font-family: 'Open Sans', sans-serif; */